APP_DEBUG=false
APP_HOME=""
APP_URL=""
APP_FORCE_SSL=false
APP_STORE_ON_S3=false

AUTH_KEY="change me"
SECURE_AUTH_KEY="change me"
LOGGED_IN_KEY="change me"
NONCE_KEY="change me"
AUTH_SALT="change me"
SECURE_AUTH_SALT="change me"
LOGGED_IN_SALT="change me"
NONCE_SALT="change me"

DB_HOSTNAME=localhost
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password