{% extends "base.twig" %}

{% block content %}
    <form action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
        <label>Password:
            <input name="post_password" type="password" placeholder="Password"/>
        </label>
        <input class="password-btn" type="submit" name="Submit" value="Submit"/>
    </form>
{% endblock %}
